* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 244, 239);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

header {
  margin: 30px 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  font-size: 18px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 15px;
}

nav a,
.login-registration a {
  text-decoration: none;
}

nav a {
  color: rgb(29, 29, 29, 0.85);
  font-size: 14px;
}

.login-registration {
  display: flex;
  align-items: center;
  gap: 25px;
}

.login-registration a {
  color: rgb(29, 29, 29, 0.85);
  font-size: 15px;
  font-weight: bold;
}

.login-registration a button {
  color: white;
  background-color: rgb(77, 19, 209);
  width: 85px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

nav a:hover {
  color: rgb(77, 19, 209);
  font-weight: bold;
}

.login-registration a:hover {
  color: rgb(77, 19, 209);
}

.login-registration a button:hover {
  color: rgb(77, 19, 209);
  border: 2px solid rgb(77, 19, 209);
  background-color: rgb(248, 244, 239);
}

main {
  margin: 30px 90px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 150px; */
}

.img-hero {
  width: 45%;
}

/* .presentation {
  display: flex;
} */

.reputation {
  display: flex;
  align-items: center;
  gap: 15px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.text h1 {
  font-size: 50px;
  font-weight: bold;
}

.materials-access {
  display: flex;
  align-items: center;
  gap: 25px;
}

.materials-access button {
  background-color: rgb(77, 19, 209);
  width: 150px;
  height: 45px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  line-height: 14px;
  color: white;
}

.materials-access a button:hover {
  color: rgb(77, 19, 209);
  border: 2px solid rgb(77, 19, 209);
  background-color: rgb(248, 244, 239);
}

.materials-access a {
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(77, 19, 209);
}

.validation {
  display: flex;
  gap: 15px;

  margin-top: 25px;
}

.check-1,
.check-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-color {
  margin-top: 50px;
  width: 100%;
  background-color: white;
}

.content {
  margin: 0 90px;
}

.content p {
  padding-top: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(77, 19, 209);
}

.content h2 {
  margin-top: 10px;
  max-width: 400px;
  font-size: 27px;
  font-weight: bold;
}

.features {
  display: flex;
  gap: 50px;
  margin: 30px 90px;
}

.features img {
  width: 30px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature h3 {
  font-size: 13px;
}

.feature p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: rgb(128, 128, 128, 0.85);
}

.group-presentation {
  display: flex;
}

.group-presentation button {
  background-color: rgb(255, 255, 255, 1);
  width: 150px;
  height: 45px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  line-height: 14px;
  color: rgb(77, 19, 209);
}

.text-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  margin-left: 37px;
  margin-right: 37px;
}

.text-presentation a button:hover {
  border: 2px solid white;
  background-color: rgb(77, 19, 209);
  color: white;
}

.image-portfolio {
  margin-left: 90px;
  margin-right: 90px;

  display: flex;

  background-color: rgb(77, 19, 209);
  border: none;
  border-radius: 7px;
}

.image-portfolio img {
  width: 650px;

  margin-top: 37px;
  margin-right: 37px;
}

.image-portfolio h2 {
  color: white;
}

.image-portfolio p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: white;
}

.portfolios-access {
  display: flex;
  gap: 35px;
  margin: 0 90px;
}

.portfolios-access img {
  width: 45px;
}

.portfolio-demonstration {
  width: 420px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  border: 2px solid rgb(128, 128, 128, 0.15);
  border-radius: 9px;
}

.portfolio-demonstration:hover {
  border: 2px solid rgb(77, 19, 209);
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; */
}

.identification {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.text-destination a button:hover {
  background-color: rgb(77, 19, 209);
  color: white;
}

.name-detail h4 {
  font-size: 13px;
  color: rgb(77, 19, 209);
}

.name-detail h5 {
  font-size: 14px;
  font-weight: lighter;
  color: rgb(128, 128, 128, 1);
}

.portfolio-demonstration p {
  margin: 20px;
}

.text-destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.text-destination span {
  text-transform: uppercase;
}

.text-destination a button {
  background-color: white;
  padding: 0 55px;
  width: 100%;
  height: 45px;
  border: 2px solid rgb(128, 128, 128, 0.15);
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: rgb(77, 19, 209);
}

.content-footer {
  margin: 50px 90px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.content-footer a:hover {
  color: rgb(77, 19, 209);
}

.fiber {
  width: 30%;
}

footer h2 {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: normal;
}

footer a {
  font-size: 12px;
  text-decoration: none;
  color: rgb(128, 128, 128, 0.85);
}

.fiber {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fiber-description {
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
